<div id="container">
    <ion-button expand="block" href="/exercicio01" routerDirection="root">Exercício 01</ion-button>
    <ion-button expand="block" href="/exercicio02" routerDirection="root">Exercício 02</ion-button>
    <ion-button expand="block" href="/exercicio03" routerDirection="root">Exercício 03</ion-button>
    <ion-button expand="block" href="/exercicio04" routerDirection="root">Exercício 04</ion-button>
    <ion-button expand="block" href="/exercicio05" routerDirection="root">Exercício 05</ion-button>
    <ion-button expand="block" href="/exercicio06" routerDirection="root">Exercício 06</ion-button>
    <ion-button expand="block" href="/exercicio07" routerDirection="root">Exercício 07</ion-button>
    <ion-button expand="block" href="/exercicio08" routerDirection="root">Exercício 08</ion-button>
</div>