<ion-header>
    <ion-toolbar>
        <ion-button slot="start" expand="block" fill="clear" href="/tabs/tab3" routerDirection="root">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title>CENOURAPP</ion-title>


    </ion-toolbar>
</ion-header>

<ion-content>

    <input type="radio" name="opcao" id="opcao-bolos" checked>
    <label for="opcao-bolos">Bolos</label>

    <input type="radio" name="opcao" id="opcao-bebidas">
    <label for="opcao-bebidas">Bebidas</label>

    <div class="container-menus">
        <img src="assets/exercicio01-imagens/menu-bolos.png" alt="Nossos bolos" id="menu-bolos" class="menu">
        <img src="assets/exercicio01-imagens/menu-bebidas.png" alt="As Bebidas" id="menu-bebidas" class="menu">


    </div>

</ion-content>